<main class="auth-view">
  <section class="auth-view__photo">
    <shared-responsive-image
      class="auth-view__image"
      [breakpoints]="[400, 600, 1000, 1400, 1920]"
      [paths]="[
          'https://ik.imagekit.io/MatiPl01/tr:w-400/restaurant/pexels-julie-aagaard-2097090.jpg',
          'https://ik.imagekit.io/MatiPl01/tr:w-600/restaurant/pexels-julie-aagaard-2097090.jpg',
          'https://ik.imagekit.io/MatiPl01/tr:w-1000/restaurant/pexels-julie-aagaard-2097090.jpg',
          'https://ik.imagekit.io/MatiPl01/tr:w-1400/restaurant/pexels-julie-aagaard-2097090.jpg',
          'https://ik.imagekit.io/MatiPl01/tr:w-1920/restaurant/pexels-julie-aagaard-2097090.jpg'
        ]"
      [sizes]="'100vw'"
      [alt]="'Przykładowa potrawa'"
    ></shared-responsive-image>
  </section>

  <div class="auth-view__content-wrapper">
    <section class="auth-view__content">
      <shared-loading-spinner class="auth-view__loader" [visible]="isLoading"></shared-loading-spinner>

      <menu class="auth-view__menu">
        <li class="auth-view__menu-item" routerLinkActive="active">
          <a class="auth-view__menu-link" routerLink="../login">Logowanie</a>
        </li>
        <li class="auth-view__menu-item" routerLinkActive="active">
          <a class="auth-view__menu-link" routerLink="../register">Rejestracja</a>
        </li>
      </menu>

      <section class="auth-view__form" *ngIf="!isLoading">
        <router-outlet></router-outlet>
      </section>

      <div></div>
    </section>
  </div>
</main>
