<form class="dish-filters">
  <ul class="dish-filters__list">
    <li class="dish-filters__item">
      <p class="dish-filters__text">
        Kategorie
      </p>
      <shared-multi-select-dropdown
        class="dish-filters__dropdown" 
        [filterAttr]="FilterAttr.CATEGORY" 
        [placeholder]="'Filtruj kategorie'"
        [settings]="settings" 
        [allItems]="availableCategories"
        [selectedItems]="selectedCategories"
        (itemSelectedEvent)="selectItem($event)"
        (itemDeSelectedEvent)="deSelectItem($event)" 
        (selectedAllEvent)="selectItems($event)"
        (deSelectedAllEvent)="deSelectAllItems($event)">
      </shared-multi-select-dropdown>
    </li>

    <li class="dish-filters__item">
      <p class="dish-filters__text">
        Kuchnie
      </p>
      <shared-multi-select-dropdown 
        class="dish-filters__dropdown" 
        [filterAttr]="FilterAttr.CUISINE" 
        [placeholder]="'Filtruj kuchnie'"
        [settings]="settings" 
        [allItems]="availableCuisines"
        [selectedItems]="selectedCuisines"
        (itemSelectedEvent)="selectItem($event)"
        (itemDeSelectedEvent)="deSelectItem($event)" 
        (selectedAllEvent)="selectItems($event)"
        (deSelectedAllEvent)="deSelectAllItems($event)">
      </shared-multi-select-dropdown>
    </li>

    <li class="dish-filters__item">
      <p class="dish-filters__text">
        Ceny
      </p>
      <shared-range-slider 
        class="dish-filters__range" 
        [filterAttr]="FilterAttr.PRICE" 
        [bounds]="priceBounds"
        [(values)]="currentPrice"
        [steps]="priceSteps"
        [labelFn]="createPriceLabel"
        (rangeChangedEvent)="updateRange($event)">
      </shared-range-slider>
    </li>

    <li class="dish-filters__item">
      <p class="dish-filters__text">
        Oceny
      </p>
      <shared-range-slider 
        class="dish-filters__range" 
        [filterAttr]="FilterAttr.RATING" 
        [bounds]="ratingsBounds"
        [(values)]="currentRating"
        [steps]="ratingSteps"
        (rangeChangedEvent)="updateRange($event)">
      </shared-range-slider>
    </li>

    <li class="dish-filters__item dish-filters__item--reset">
      <p class="dish-filters__text">
        &nbsp;
      </p>
      <button class="dish-filters__button dish-filters__button--reset"
              (click)="resetFilters()">Resetuj filtry</button>
    </li>

    <li class="dish-filters__item dish-filters__item--pages">
      <p class="dish-filters__text">
        &nbsp;
      </p>
      <shared-single-select-dropdown class="dish-filter__pages"
        [(selected)]="itemsPerPage"
        [values]="possibleItemsPerPage"
        (selectedChange)="notifyItemsPerPageChange($event)"
      ></shared-single-select-dropdown>
    </li>
  </ul>
</form>
