<main class="section-cart">
  <article class="cart">
    <section class="cart__contents">
      <h3 class="cart__heading heading-primary">
        Koszyk
      </h3>

      <article class="cart-list">
        <ul class="cart-list__column-names">
          <li class="cart-list__column-name">Szczegóły</li>
          <li class="cart-list__column-name">Liczba</li>
          <li class="cart-list__column-name">Cena</li>
          <li class="cart-list__column-name">Łącznie</li>
        </ul>

        <ul class="cart-list__items">
          <app-cart-item
            *ngFor="let dish of cartDishes"
            [dish]="dish" (changeQuantity)="onChangeQuantity($event)" (removeItem)="onRemoveItem($event)"
          ></app-cart-item>
        </ul>
      </article>

    </section>

    <section class="cart__summary">
      <input class="cart-summary__checkbox" type="checkbox" name="summary-toggle" id="summary-toggle">

      <article class="cart-summary">
        <header class="cart-summary__header">
          <label class="cart-summary__label" for="summary-toggle">
            <h3 class="cart-summary__heading">
              <span>Podsumowanie zamówienia</span>
              <svg class="cart-summary__arrow">
                <use href="assets/svg/icons.svg#arrow-up"></use>
              </svg>
            </h3>
          </label>
        </header>

        <section class="cart-summary__content">
          <ul class="cart-summary__details">
            <li class="cart-summary__detail">
              <span class="cart-summary__detail-name">Liczba sztuk</span>
              <span class="cart-summary__detail-value">{{ totalQuantity }}</span>
            </li>
            <li class="cart-summary__detail">
              <span class="cart-summary__detail-name">Kwota</span>
              <span class="cart-summary__detail-value">
          <shared-price [currency]="currencyService.currency.code"
                        [amount]="totalPrice"></shared-price>
        </span>
            </li>
          </ul>

          <section class="cart-summary__total">
            <span class="cart-summary__total-name">Łączna kwota</span>
            <span class="cart-summary__total-value">
        <shared-price [currency]="currencyService.currency.code"
                      [amount]="totalPrice"></shared-price>
      </span>
          </section>

          <button class="cart-summary__button" (click)="onOrderBtnClick()" [disabled]="totalPrice === 0" [ngClass]="{disabled: totalPrice === 0}">
            Złóż zamówienie
          </button>
        </section>
      </article>
    </section>
  </article>
</main>
