<li class="cart-item">
  <figure class="cart-item__figure">
    <a [routerLink]="['/dishes', dish.dishId]" class="cart-item__link">
      <shared-responsive-image class="dish-card__image"
                               [breakpoints]="dish.coverImage.breakpoints"
                               [paths]="dish.coverImage.paths"
                               [sizes]="'(max-width: 28em) calc(100vw - 1.875em), (max-width: 56.25em) 25em, (max-width: 75em) calc((100vw - 14.625em) / 2), (min-width: 135em) 37em, (min-width: 112.5em) calc((100vw - 24em) / 3), calc((100vw - 20em) / 3)'"
                               [alt]="dish.dishName">
      </shared-responsive-image>
    </a>
  </figure>

  <section class="cart-item__details">
    <a [routerLink]="['/dishes', dish.dishId]" class="cart-item__link">
      <h3 class="cart-item__heading">
        {{ dish.dishName }}
      </h3>
    </a>
    <ul class="cart-item__details-list">
      <li class="cart-item__detail">
        <span class="cart-item__detail-name">Kuchnia</span>
        <span class="cart-item__detail-value">{{ dish.cuisine }}</span>
      </li>
      <li class="cart-item__detail">
        <span class="cart-item__detail-name">Typ</span>
        <span class="cart-item__detail-value">{{ dish.type }}</span>
      </li>
      <li class="cart-item__detail">
        <span class="cart-item__detail-name">Kategoria</span>
        <span class="cart-item__detail-value">{{ dish.category }}</span>
      </li>
    </ul>
  </section>

  <section class="cart-item__order">
    <ul class="cart-item__order-list">
      <li class="cart-item__order-item">
        <h2 style="font-size: 2.2em">
          {{dish.quantity}}
        </h2>
      </li>
    </ul>
  </section>

  <section class="cart-item__price cart-item__price--unit">
    <shared-price
      [currency]="dish.currency"
      [amount]="dish.unitPrice"
    ></shared-price>
    <span class="cart-item__price--unit-text">szt.</span>
  </section>

  <section class="cart-item__price cart-item__price--total">
    <shared-price
      [currency]="dish.currency"
      [amount]="getPrice()"
    ></shared-price>
  </section>

  <div class="cart-item__mobile-bg"></div>
</li>
