<section class="section-dishes">
  <div class="dishes">
    <header class="dishes__header">
      <h2 class="dishes__heading heading-primary">Oferta</h2>
    </header>
    <dishes-dishes-filters (filterReloadEvent)="onFilterReload($event)">

    </dishes-dishes-filters>

    <ul class="dishes__list">
      <li class="dishes__item" *ngFor="let dish of dishes">
        <dishes-dish-card
          [dish]="dish">
        </dishes-dish-card>
      </li>
    </ul>

    <shared-pagination [pagesCount]="pagesCount" [maxDisplayedNumbersCount]="maxDishes" (pageChangeEvent)="onPaginationChange($event)">

    </shared-pagination>
  </div>
</section>
