<header class="home-header"
        observeVisibility
        (visibilityChange)="notifyHeaderVisibilityChange($event)"
        #header>
  <div class="home-header__logo-wrapper">
    <div class="home-header__logo" parallax [ratio]="-.25">
      <svg class="home-header__icon">
        <use href="assets/svg/logo.svg#logo"></use>
      </svg>
      <h1 class="home-header__heading home-header__heading--primary">
        YummyFood
      </h1>
      <h2 class="home-header__heading home-header__heading--secondary">
        Tanio, Szybko, Smacznie
      </h2>
    </div>
  </div>

  <div class="home-header__scroll-wrapper">
    <div class="home-header__scroll"
        (click)="scrollDown()"
        parallax
        [ratio]="-.25">
      <span></span>
    </div>
  </div>

  <div class="home-header__video-wrapper">
    <!-- TODO - load video in a proper resolution for a device (make video responsive) -->
    <video class="home-header__video" src="assets/video/header-video-1920.m4v" autoplay loop muted oncanplay="play()"
      onloadedmetadata="muted = true"></video>
  </div>
</header>
