@use '../utils/sizes' as s;
@use '../utils/colors' as c;
@use '../utils/mixins' as *;
@use '../utils/gradients' as g;
@use '../utils/shadows' as sh;

.auth-view {
  min-height: 100vh;
  display: flex;

  & > * {
    flex: 1 1 0;
  }

  &__photo {

    & > * {
      display: none;
    }
  }

  &__content {
    background-color: c.$red;
  }

  &__menu {

    &-item {

    }

    &-link {

    }
  }

  &__error {

    &-message {

    }
  }

  &__form {

  }

  .auth-form {

    &__heading {

    }
  }
}
